@import '../../style/Color.scss';

.sidebar-container {
    margin: 40px 20px 30px;
    .toggle {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      h3 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
      .buttons {
        width: 100%;
        justify-content: center;
        button {
          border: none;
          padding: 10px 20px;
          display: inline-block;
        }
        .grid-button {
          border-radius: 10px 0 0 10px !important;
        }
        .list-button {
          border-radius: 0 10px 10px 0 !important;
        }
      }
    }
    .submit-feedback {
      button {
        background-color: $button__active;
      }
    }
  }
  