

.list-style{
    width: 95%;
    height: 8rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 6px 10px rgb(186, 186, 186);
    border-radius: 20px;
    background-color: #eaeaea;
}

.list-style img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: .5rem;
}

.list-style a {
    text-decoration: none;
    color: black;
}

.button-style{
    font-size: 1.4rem;
    float: right;
    padding: .3rem;
    color: tomato;
    border: none;
    font-weight: bold;
    padding: 1rem;
}


.new-summary {
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
}
