@import '../../style/Color.scss';


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .news {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 5px;
      cursor: pointer;
      .news-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        .img {
          order: 2;
          img {
            margin-top: 5px;
            width: 100%;
            border-radius: 10px;
          }
        }
        .news-container {
          order: 1;
          h3 {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 600;
          }
          p {
            font-size: 13px;
          }
          span {
            font-size: 12px;
          }
        }
      }
      .delete {
        position: absolute;
        top: 1%;
        right: 1%;
        color: tomato;
        cursor: pointer;
        margin: 10px;
        padding: 5px 10px;
      }
    }
  }
  
  .list-layout {
    .news {
      position: relative;
      cursor: pointer;
      .news-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 94%;
        padding: 20px;
        .img {
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        .news-container {
          margin: 0 20px;
          h3 {
            font-size: 17px;
            font-weight: 600;
          }
          p {
            font-size: 13px;
          }
        }
      }
      .delete {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: tomato;
        cursor: pointer;
        svg {
          font-size: 22px;
        }
      }
    }
  }
  
  .news-pagination {
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      list-style: none;
      display: flex;
      li {
        padding: 2px 8px;
        background-color: #fff;
        border-radius: 5px;
        margin: 0 3px;
        cursor: pointer;
        button {
          border: none;
          background-color: transparent;
        }
      }
    }
    .active-page {
      background-color: $button__active;
    }
  }
  
  @media (min-width: 1250px) {
    .grid-layout {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  @media (max-width: 990px) {
  }
  
  @media (max-width: 990px) {
    .list-layout {
      .news {
        .news-card {
          flex-direction: column;
          .img {
            margin-bottom: 24px;
          }
        }
        .delete {
          top: 10%;
          right: 10%;
        }
      }
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 567px) {
  }
  
